@import '../../vars'

.__container 
  width: 90%
  margin: 20px auto

.__founds
  margin-left: auto
  text-align: right
  width: fit-content
  font-size: 1.5rem
  font-weight: 400
  background: $background-field
  padding: 5px 10px
  border-radius: $spacing

.__card__container
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 10px

.__card__header
  display: flex
  justify-content: space-between
  padding-right: 10px
  align-items: center

.property__name, .publish__date
  margin: 5px 10px

