@import '../../vars'

.__container
  width: 90%
  height: 100%
  margin: 20px auto
  display: flex
  flex-direction: column
  justify-content: space-around

.__carousel__container
  width: 100%
  min-height: 400px
  margin-bottom: 30px
  border: 1px solid black
  border-radius: 5px
